@import '~@fluentui/react/dist/sass/References.scss';

.dashboardProyectos {
  padding: 16px;
}

.title {
  margin-bottom: 16px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}

.errorMessage {
  color: #a80000;
}

.emptyMessage {
  color: #605e5c;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}


